<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <% if @article.errors.any? %>
                    <ul class="error-messages">
                        <% @article.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>

                <%= form_with(model: @article, local: true) do |form| %>
                    <fieldset>
                        <fieldset class="form-group">
                            <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Article Title" %>
                        </fieldset>
                        <fieldset class="form-group">
                            <%= form.text_field :description, class: "form-control", placeholder: "What's this article about?" %>
                        </fieldset>
                        <fieldset class="form-group">
                            <%= form.text_area :content, class: "form-control", rows: "8", placeholder: "Write your article (in markdown)" %>
                        </fieldset>
                        
                        <%= form.submit "Update Article", class: "btn btn-lg pull-xs-right btn-primary" %>
                    </fieldset>
                <% end %>
            </div>
        </div>
    </div>
</div>
