<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1><%= @article.title.html_safe %></h1>

            <div class="article-meta">
                <a href="/profile/eric-simons"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
                <div class="info">
                    <a href="/profile/eric-simons" class="author">Eric Simons</a>
                    <span class="date">January 20th</span>
                </div>
                <button class="btn btn-sm btn-outline-secondary">
                    <i class="ion-plus-round"></i>
                    &nbsp; Follow Eric Simons <span class="counter">(10)</span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary">
                    <i class="ion-heart"></i>
                    &nbsp; Favorite Post <span class="counter">(29)</span>
                </button>
                <button class="btn btn-sm btn-outline-secondary">
                    <%= link_to "Edit Article", edit_article_path(@article), class: "ion-edit" %>
                </button>
                <%= form_with(model: @article, url: article_path(@article), method: :delete, data: { turbo: false }) do |form| %>
                    <%= form.button "Delete Article", class: "btn btn-sm btn-outline-danger ion-trash", data: { turbo_confirm: "You sure?" } %>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <form class="card comment-form">
                    <div class="card-block">
                        <h2 id="introducing-ionic"><%= @article.description.html_safe %></h2>
                        <p class="form-control" placeholder="Write a comment..." rows="3"><%= @article.content.html_safe %></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>